*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20201101/pngtree-3d-rendering-for-display-product-banner-on-website-image_453005.jpg');
    background-size: cover;
    color: rgb(89, 71, 255);

}
.registration-form{
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%,-50%);
    width: 100px;
}
.registration-form h1{
    font-size: 30px;
    text-align: justify;
    text-transform: uppercase;
    margin: 50px 0;
}
.popup{
    height: 250%;
    width: 150px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: azure;
    clip-path: polygon(0 50%,100% 50%,100% 50%,0 50%);
}
input:checked ~.popup{
clip-path: polygon(00,100% 100%,0 100%);
}
    